* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    width: 100%;
    height: 100vh;
}

/* MAIN CONTAINER */
.container {
    display: flex;
    width: 100%;
    height: 100vh;
}

/* LEFT IMAGE SECTION */
.left-image {
    flex: 1;
    background-image: url("https://imgs.search.brave.com/AZBP8qEUgBK7TGTtJajnHDsc9U4JLFxz9TKz4722nEA/rs:fit:500:0:1:0/g:ce/aHR0cHM6Ly9tZWRp/YS5pc3RvY2twaG90/by5jb20vaWQvMTA4/NzIxMDUwMi92ZWN0/b3IvYWJzdHJhY3Qt/Ymx1ci1iYWNrZ3Jv/dW5kLmpwZz9zPTYx/Mng2MTImdz0wJms9/MjAmYz1Jc3hJSnc5/RGN2Rm5SRjZ3RmNf/bmg4RWJfVEpDdk9W/QUtRTVZMMjhrajVv/PQ"); 
    background-position: center;
    background-size: cover;
    position: relative;
}

.image-overlay {
    position: absolute;
    bottom: 40px;
    left: 40px;
    color: white;
}

.image-overlay h1 {
    font-size: 38px;
    margin-bottom: 10px;
}

.image-overlay p {
    font-size: 16px;
    opacity: 0.9;
}

/* RIGHT FORM SECTION */
.right-form {
    flex: 1;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-wrapper {
    width: 75%;
    max-width: 420px;
    padding: 30px;
}

.form-wrapper h2 {
    font-size: 32px;
    margin-bottom: 25px;
    color: #733b0f;
}


.input-box {
    position: relative;
    margin-bottom: 18px;
}

.input-box input {
    width: 100%;
    padding: 12px 45px 12px 15px;
    border: 1px solid #ddd;
    border-radius: 10px;
    font-size: 15px;
    outline: none;
    transition: 0.2s;
}

.input-box input:focus {
    border-color: #2f4739;
    box-shadow: 0px 0px 6px rgba(47, 71, 57, 0.25);
}

.input-box i {
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    color: #2f4739;
    font-size: 18px;
}


.btn {
    width: 100%;
    padding: 12px;
    background-color: #321803;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    font-weight: 600;
    color: white;
    cursor: pointer;
    transition: 0.25s ease;
}

.btn:hover {
    background-color: #321803;
    transform: translateY(-2px);
}


.login-link {
    text-align: center;
    margin-top: 18px;
    color: #555;
    font-size: 14px;
}

.login-link a {
    color: #2f4739;
    font-weight: bold;
    text-decoration: none;
}

.login-link a:hover {
    text-decoration: underline;
}

/* RESPONSIVE DESIGN */
@media (max-width: 900px) {
    .container {
        flex-direction: column;
    }

    .left-image {
        height: 35vh;
    }

    .right-form {
        height: auto;
        padding-top: 20px;
    }
}