body{
    background-color: #2f4739;
}
.announcement{
    height: 48px;
    width: 100%;
    background-color: #2f4739;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 13px;
    font-family: sans-serif;
    border-radius: 0.5rem;
    box-sizing: border-box;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.05);
}
/* NAVBAR */
.navbar{
    height: 115px;
    
    padding: 16px 10px 16px 36px;
    display: flex;
    background-color: white;
    border-start-start-radius: 1rem;
    border-start-end-radius: 1rem; 
    
    
    
}
/* LOGO */

.logo{
    background-image: url("logo.jpg");
    height: 80px;
    width: 160px;
    padding-top: 20px;

   
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    
}
/* OPTIONS */
.menu{
    display: flex;
    align-items: center;
    justify-content: center;

    
    
    margin-left: 20px; 
}


.box :first-child{
    margin-left: 20px;
}
/* ul{
    list-style: none;
    margin-left: 120px;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    
    

}
ul li{
    display: inline-block;
    margin-right: 40px;
}
ul li :last-child{
    margin-right: 60px;
} */
/* ICONS */
.icons{
    position: absolute;
    right: 80px;
    height: 135px;
    width: 135px;
    display: flex;
    gap: 40px;
    align-items: center;
    box-sizing: border-box;
    padding-bottom: 18px;
    
}
.icons i{
    font-size: 27px;
}
.icons i{
    cursor: pointer;
    transition: tranform 0.9s ease;

}
.icons i:hover{
    transform: translateY(-4px);
    color: gray;
}
/* HOVER EFFECT */
.box{
    
    margin-left: 30px;
    height: 40px;
    width: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    color: rgb(67, 98, 14);
    transition: height 0.4s ease;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    z-index: 0; 
}


.box::before{
    content: " ";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0%;
    transition: height 0.7s ease;
    background-color: rgb(47 71 57);
    z-index: -1;
    border-radius: 0.85rem;

}
.box:hover::before{
    height: 100%;
}
.box:hover{
    color: white;
}
.box span{
    
    position: relative;
    z-index: 1;

}


    